* {
  box-sizing: border-box;
}

.main-wrapper {
  position: relative;
  width: 1920px;
}

.healthBarContainer {
  display: flex;
  align-items: center;
  width: 1920px;
  height: 55px;
  position: absolute;
  left: 0;
  top: 25px;
  background-color: transparent;
  padding: 0 100px;
}

.healthBarWrapper {
  width: 47%;
  height: 100%;
  background-color: red;
  display: flex;
}

.healthBar {
  width: 100%;
  height: 100%;
  background: yellow;
}

.healthBarWrapper.player1 {
  justify-content: flex-end;
}

.timer {
  width: 6%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
}

.pauseScreen {
  display: none;
  position: absolute;
  width: 500px;
  height: 200px;
  left: calc(50% - 250px);
  top: calc(50% - 100px);
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
